<main>
	<div id="searchContainer">
			<form id="searchForm" action="/home" method="get">
				<ul id="searchTermsList">
				</ul>
				<div id="formBottom">
					<button id="newTermButton" onclick="addSearchTerm()">New Term</button>
					<input id="submitSearch" type="submit" value="Search">
				</div>
			</form> 
	</div>
	<div id="candidatesContainer">
		<h3 id="candidatesHeader">Candidates</h3>
		<div id="candidates">
			{{#if candidates}}
				{{#each candidates}}
					<div class="candidatesEntry" onclick="location.href='/account/{{this._id}}'">
						<div class="candidatesImage" style='background-image: url("/public/images/profile/{{this.profileImage}}")'></div>
						<div class="candidatesName">{{this.firstName}} {{this.lastName}}</div>
						<div class="candidatesBio">{{this.biography}}</div>
					</div>
				{{/each}}
			{{else}}
				<p id="noCandidatesMessage">No candidates found!</p>
			{{/if}}
		</div>
	</div>
</main>