<main>
	<div id="jobContainer">
		<div id="jobList">
			{{#if joblist}}
				{{#each joblist}}
					<div class="jobEntry" onclick="location.href='/jobs/{{this._id}}'">
						<div class="jobImage" style='background-image: url("/public/images/profile/{{this.employerImage}}")'></div>
						<p class="jobEmployer">{{this.employer}}</p>
						<p class="jobTitle">{{this.name}}</p>
						<p class="jobDescription">{{this.description}}</p>
					</div>
				{{/each}}
			{{else}}
				<p id="noJobsMessage">No jobs found! Come back later after an employer posts a new job!</p>
			{{/if}}
		</div>
	</div>
</main>