<main>
	<header id="homeBar">
		<div id="homeBarLeft">
			<div id="profileImage"></div>
			<p id="profileName">
				{{#if firstName}} {{firstName}} {{/if}}
				{{#if lastName}} {{lastName}} {{/if}}
			</p>
		</div>
		<div id="homeBarRight">
			<a class="headerLink" id="logoutLink" href="/logout">Log Out</a>
		</div>
	</header>

	<!--<div id="searchContainer">
		<form id="searchForm" action="/search" method="post">
			<input id="search">
			<input type="submit" value="Search">
		</form> 
	</div>-->

	<div id="jobContainer">
		<div id="jobList">
			{{#if jobs}}
				{{#each jobs}}
					<div class="jobEntry">
						<div class="jobImage" style='background-image: url("/public/images/profile/{{this.employerImage}}")'></div>
						<p class="jobEmployer">{{this.employer}}</p>
						<p class="jobTitle">{{this.title}}</p>
						<p class="jobDescription">{{this.description}}</p>
					</div>
				{{/each}}
			{{else}}
				<p id="noJobsMessage">No jobs found! Come back later after an employer posts a new job!</p>
			{{/if}}
		</div>
	</div>
</main>