<div id="modalOuter">
	<div id="modalInnerContainer">
		<button type="button" id="modalClose" onclick="disableModal()">&#10005;</button>
		{{#if messageList}}

		<div id="entryList">
			{{#each messageList}}
			<div class="messageEntry">
				<div class="messageEmployerInfo" onclick="location.href='/account/{{this.senderId}}'">
					<div class="messageEmployerPicture" style='background-image: url("/public/images/profile/{{this.senderImage}}")'></div>
					<p class="messageEmployerName">{{this.sender}}</p>
				</div>
				<div class="messageContainer">
					<h3 class="messageTitle">Title: {{this.title}}</h3>
					<p class="messageText">{{this.content}}</p>
				</div>
			</div>
			{{/each}}
		</div>
		{{else}}
		<div class="modalRow">
			<p class="modalText">No messages!</p>
		</div>
		{{/if}}
	</div>
</div>

<main>
	<div id="controlBar">
		<a id="filterLink" onclick="location.href='/home?filter={{#if filter}}false{{else}}true{{/if}}'">
			{{#if filter}}
			[Show All Jobs]
			{{else}}
			[Show Open Jobs]
			{{/if}}
		</a>
		<a id="messagesLink" onclick='showMessages()'>[{{numMessages}} Messages]</a>
	</div>
	<div id="jobContainer">
		<div id="jobList">
			{{#if joblist}}
				{{#each joblist}}
					<div class="jobEntry" onclick="location.href='/jobs/{{this._id}}'">
						<div class="jobImage" style='background-image: url("/public/images/profile/{{this.employerImage}}")'></div>
						<p class="jobEmployer">{{this.employer}}</p>
						<p class="jobTitle">{{this.name}}</p>
						<p class="jobDescription">{{this.description}}</p>
					</div>
				{{/each}}
			{{else}}
				<p id="noJobsMessage">No jobs found! Come back later after an employer posts a new job!</p>
			{{/if}}
		</div>
	</div>
</main>