<main>
	<form id="mainContent" action="/jobs/edit" method="post">
		<div class="formRow">

			{{#unless isOwner}}
			<div id="ownerProfilePicture" style="background-image: url('/public/images/profile/{{ownerProfile.profileImage}}')"></div>
			<p id="ownerName">{{ownerProfile.name}}</p>
			{{/unless}}

			{{#if job.open}}
				<div class="openStatus" id="open">OPEN</div>
			{{else}}
				<div class="openStatus" id="closed">CLOSED</div>
			{{/if}}
		</div>

		{{#if isOwner}}
		<input type="hidden" name="jobID" value="{{job._id}}">
		<div class="formRow">
			<label for="jobName" class="formLabel">Job Title:</label>
			<input type="text" name="jobName" class="formTextInput" value="{{job.name}}" placeholder="Job Name" required>
		</div>

		<div class="formRow">
			<label for="jobDescription" class="formLabel">Description:</label>
			<textarea name="jobDescription" class="formTextInput" id="jobDescriptionEdit" rows=5 placeholder="Description" maxlength="1000">{{job.description}}</textarea>
		</div>

		<div class="formRow">
			<label for="jobRate" class="formLabel">Job Rate:</label>
			<input type="text" name="jobRate" class="formTextInput" value="{{job.rate}}" placeholder="Job Rate" required>
		</div>

		<div class="formRow">
			<label for="jobType" class="formLabel">Job Type:</label>
			<input type="text" name="jobType" class="formTextInput" value="{{job.type}}" placeholder="Job Type" required>
		</div>
		{{else}}
		<h2 id="jobTitle">
			Job Title: {{job.name}}
		</h2>
		<p id="jobDescription">Description: {{job.description}}</p>
		<p id="jobRate">Description: {{job.rate}}</p>
		<p id="jobType">Description: {{job.type}}</p>
		{{/if}}

		<h3 id="skillsTitle">Required Skills</h3>
		<ul id="jobSkills">

			{{#if isOwner}}
				{{#each job.skills}}
				<li class="jobSkillEntry" id="jobSkillEntry{{@index}}">
					<input type="text" name="jobSkillName" class="formTextInput" value="{{this.skill}}" placeholder="Skill (e.g. Javascript)" maxlength="30" required>
					<input type="number" name="jobSkillYears" class="formTextInput" placeholder="Years (e.g. 2.5)" step="0.1" min="0.1" max="100" value="{{this.years}}" required>
					<button type="button" class="skillRemove" onclick="$('#jobSkillEntry{{@index}}').remove()">&#10005;</button>
				</li>
				{{/each}}
			{{else}}
				{{#each job.skills}}
				<li class="jobSkillEntry">
					<p class="jobSkillName">{{this.skill}}:</p>
					<p class="jobSkillYears">{{this.years}} years</p>
				</li>
				{{/each}}
			{{/if}}
		</ul>

		{{#if isOwner}}
		<button type="button" class="addButton" onclick="addSkill()">New Skill</button>
		{{/if}}

		<div class="formRow">
			{{#if isOwner}}
				{{#if job.open}}
				<a class="formControlButton" id="closeJob" onclick="location.href='/jobs/close/{{job._id}}'">Close Job</a>
				{{/if}}
				<input type="submit" value="Save" class="formControlButton" id="submitButton">
			{{else}}
				{{#if job.open}}
					{{#unless alreadyApplied}}
					<a class="formControlButton" id="apply" onclick="location.href='/jobs/apply/{{job._id}}'">Apply</a>
					{{/unless}}
				{{/if}}
			{{/if}}
		</div>
	</form>

	{{#if isOwner}}
	<h3 id="applicationsTitle">Applications</h3>
	<div id="applicationsContainer">
		{{#each candidatesApplied}}
		<div class="applicationItem" onclick="location.href='/account/{{this._id}}'">
			<div class="applicationImage" style="background-image: url('/public/images/profile/{{this.profileImage}}')"></div>
			<p class="applicationName">{{this.firstName}} {{this.lastName}}</p>
			<p class="applicationBio">{{this.biography}}</p>
		</div>
		{{/each}}
	</div>
	{{/if}}
</main>