<main>
	<form id="mainContent" action="/jobs/edit" method="post">
		<div class="formRow">

			{{#unless isOwner}}
			<div id="ownerProfilePicture" style="background-image: url('/public/images/profile/{{ownerProfile.profileImage}}')"></div>
			<p id="ownerName">{{ownerProfile.name}}</p>
			{{/unless}}

			{{#if job.open}}
				<div class="openStatus" id="open">OPEN</div>
			{{else}}
				<div class="openStatus" id="closed">CLOSED</div>
			{{/if}}
		</div>

		{{#if isOwner}}
		<input type="hidden" name="jobID" value="{{job._id}}">
		<div class="formRow">
			<label for="jobName" class="formLabel">Job Title:</label>
			<input type="text" name="jobName" class="formTextInput" value="{{job.name}}" placeholder="Job Name" required>
		</div>

		<div class="formRow">
			<label for="jobDescription" class="formLabel">Description:</label>
			<textarea name="jobDescription" class="formTextInput" id="jobDescriptionEdit" rows=5 placeholder="Description" maxlength="1000">{{job.description}}</textarea>
		</div>
		{{else}}
		<h2 id="jobTitle">
			Job Title: {{job.name}}
		</h2>
		<p id="jobDescription">Description: {{job.description}}</p>
		{{/if}}

		<h3 id="skillsTitle">Required Skills</h3>
		<ul id="jobSkills">

			{{#if isOwner}}
				{{#each job.skills}}
				<li class="jobSkillEntry" id="jobSkillEntry{{@index}}">
					<input type="text" name="jobSkillName" class="formTextInput" value="{{this.skill}}" placeholder="Skill (e.g. Javascript)" maxlength="30" required>
					<input type="number" name="jobSkillYears" class="formTextInput" placeholder="Years (e.g. 2.5)" step="0.1" min="0.1" max="100" value="{{this.years}}" required>
					<button type="button" class="skillRemove" onclick="$('#jobSkillEntry{{@index}}').remove()">&#10005;</button>
				</li>
				{{/each}}
			{{else}}
				{{#each job.skills}}
				<li class="jobSkillEntry">
					<p class="jobSkillName">{{this.skill}}:</p>
					<p class="jobSkillYears">{{this.years}} years</p>
				</li>
				{{/each}}
			{{/if}}
		</ul>

		{{#if isOwner}}
		<button type="button" class="addButton" onclick="addSkill()">New Skill</button>
		{{/if}}

		<div class="formRow">
			{{#if isOwner}}
				{{#if job.open}}
				<a class="formControlButton" id="closeJob" onclick="location.href='/jobs/close/{{job._id}}'">Close Job</a>
				{{/if}}
			{{/if}}

			<input type="submit" value="Save" class="formControlButton" id="submitButton">
		</div>
	</form>
</main>